@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: #ededed;
    --input: 214.3 31.8% 91.4%;

    --primary: #3c3836;
    --primary-foreground: #000000;

    --secondary: #c97f5f;
    --secondary-foreground: #98928e;

    --tertiary: #f5f8ff;

    --accent: #f5f7ff;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: #ed1d24;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;

    --yellow-color: #ff9800;

    --frank-ruhl-fonts: "Frank Ruhl Libre", serif;
    --karma-fonts: "Karma", serif;
    --transition: all 0.3s ease 0s;
    --container-fluid-offset: 12rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  body {
    font-feature-settings: "rlig" 1, "calt" 1;
    font-family: var(--karma-fonts);
  }
}

.button_secondary {
  @apply py-6 capitalize  text-base hover:bg-[#3C3836] text-white;
}
.border_secondary {
  border: 1px solid var(--secondary);
}
.heading_2 {
  @apply text-3xl font-bold text-black font-frank;
}
.input_secondary {
  @apply border active:border-secondary border-secondary-foreground rounded-lg px-4 py-2;
}
.input_primary {
  @apply rounded-lg border-2 border-border px-4 py-2 outline-secondary focus:border-secondary;
}
html {
  scroll-behavior: smooth;
}
/* carousel */

.mantine-1jkjqkp[data-active] {
  background-color: var(--primary) !important;
}
.mantine-1jkjqkp {
  width: 12px !important;
  height: 12px !important;
  border-radius: 50%;
  border: 2px solid var(--primary) !important;
}

/*  */

.widget__title {
  @apply before:top-0 before:content-['|'] before:mr-2 before:left-0 before:w-[2px] before:h-7 before:bg-primary;
}

.widget__categories:last-child {
  margin-bottom: 0;
}

.loaded .loader-section.section-left {
  transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1);
  transform: translateX(-101%);
}
.loaded .loader-section.section-right {
  transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1);
  transform: translateX(101%);
}

.letter-load::before {
  color: #000000;
  content: attr(data-text-preloader);
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: rotateY(-90deg);
}
.letter-load {
  color: rgba(0, 0, 0, 0.2);
  position: relative;
}
.letter-load:nth-child(2):before {
  animation-delay: 0.2s;
}
.letter-load:nth-child(3):before {
  animation-delay: 0.3s;
}
.letter-load:nth-child(4):before {
  animation-delay: 0.4s;
}
.letter-load:nth-child(5):before {
  animation-delay: 0.5s;
}
.letter-load:nth-child(6):before {
  animation-delay: 0.6s;
}
.letter-load:nth-child(7):before {
  animation-delay: 0.7s;
}
